$main-color: #161c36;
$main-color--light: #192144;

$second-color: #ffd74b;
$second-color--medium: #ffbd30;
$second-color--dark: #ffa530;
$second-color--darkest: #ff8d30;

$main-text-color: #444444;
$main-text-color--light: rgba(68, 68, 68, 0.3);
$main-text-color--dark: #1d2e5b;


$background-color: #182044;
$background-color-light: #edeff6;
$background-color-dark: #e2e5f2;
$background-color-description: #101d41;

$hover-button-color: #f26926;


$tablet-width: 768;
$desktop-width: 1440;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
